/* css styles */
/* css styles */
/* Force Quarto figures to be responsive */
.quarto-figure img.figure-img {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
}
.quarto-image-container .lightbox {
  background-color: white !important;
}
img[src$=".svg"] {
  width: auto !important;
  height: auto !important;
}